$main: #363636;
$white: #fff;
$grey: #d8d8d8;
$light-grey: #f8f8f8;
$orange: #ec6608;
$blue: #006f79;
$green: #45852d;
$bg: #f2f2f2;



$mobile-width: 320px;
$tablet-width: 660px;
$tablet-pro-width: 840px;
$desktop-width: 1200px;